<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>

  <br>

  <br>

  <ion-button [routerLink]="['/camara-a']" color="success"  shape="round" expand="block">
    <ion-icon slot="end" name="qr-code-outline"></ion-icon>
    Escanear QR
    
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/log-alumno']" color="danger" shape="round"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar> 
</ion-footer>
