<ion-header>
  <ion-toolbar> 
    <ion-title>Tus datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="datos != null">
    <ion-row>
      <ion-col size="3">nombre</ion-col>
      <ion-col size="9">{{datos.nombre}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">id</ion-col>
      <ion-col size="9">{{datos.id}} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">usuario</ion-col>
      <ion-col size="9">{{datos.usuario}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">sección</ion-col>
      <ion-col size="9">{{datos.seccion}} </ion-col>
    </ion-row>

 

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar> 
    <ion-button [routerLink]="['/usuarios']" color="danger" shape="round">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon> 
    </ion-button> 
    
    <ion-button [routerLink]="['/camara-a']" slot="end" color="light" shape="round">
      <ion-icon slot="icon-only" name="camera"></ion-icon> 
    </ion-button>
    
  </ion-toolbar> 
</ion-footer>

