<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h5>Bienvenido </h5> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <p>¿cómo desea ingresar?</p>  
    <br>
    <br>
    <ion-button [routerLink]="['/login-d']" color="warning">
      <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
      Docente
    </ion-button>
    <br>
    <ion-button [routerLink]="['/log-alumno']" color="success">
      <ion-icon slot="icon-only" name="happy"></ion-icon>
      Alumno
    </ion-button>
    
    <br>
    <br>
    <br>

    <p>Duoc UC</p>  
    

  </div>


   

 
</ion-content>

